<hr>
<table class="table">
  <thead>
  <tr>
    <th>Lunch partners </th>
    <th></th>
    <th colspan="3">
      Filter by dept
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= @dept_name%>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/home">All</a></li>
          <% Department.all.each do |dept| %>
          <li><a class="dropdown-item" href="/home?dept=<%= dept.id%>"><%= dept.name %></a></li>
          <% end %>
        </ul>
      </div>
    </td>
  </tr>
  <%  if LunchGroup.last.lunch_date > Date.today.beginning_of_month  %>
  <% @employees.each do |emp| %>
    <% next if @partners.include? emp.id  %>
    <tr>
    <td>
      <div class="card" style="width:250px">
        <% if emp.image.attached? %>
          <%= image_tag emp.image, size: "200x200" , class:"card-img-top"%>
        <% else %>
          <img class="card-img-top" src="<%= emp.image_url.gsub('300','100') %>" alt="Card image" height="100", width="100" >
        <% end %>
        <div class="card-body">
          <h4 class="card-title"><%= emp.name %></h4>
          <p class="card-text"><%= emp.department.name %></p>
          <a href="<%= partners_path(emp.id)%>" class="btn btn-primary">See all previous partners</a>
        </div>
      </div>
    </td>
      <% Employee.fetch_partners(emp.id).each do |id| %>
        <% @partners.push(id) %>
        <% emp = Employee.find(id) %>
        <td>

        <div class="card" style="width:250px">
          <% if emp.image.attached? %>
            <%= image_tag emp.image, size: "200x200" , class:"card-img-top"%>
          <% else %>
            <img class="card-img-top" src="<%= emp.image_url.gsub('300','100') %>" alt="Card image" height="100", width="100" >
          <% end %>          <div class="card-body">
            <h4 class="card-title"><%= emp.name %></h4>
            <p class="card-text"><%= emp.department.name %></p>
            <a href="<%= partners_path(emp.id)%>" class="btn btn-primary">See all previous partners</a>
          </div>
        </div>
        </td>
      <% end %>
    </tr>
  <% end %>
  <%else %>
  Mystery lunch to be generated for month
  <% end %>
  </tbody>
</table>

</div>